# when ready to use, move to /etc/systemd/system

[Unit]
Description=Knurów Rover main daemon program.

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/roverd
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
